
body{
    background-image: url(po.jfif);
    /* background-color: rgb(39, 126, 197); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  
    
}

nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}
.nav img {
    margin-left: 20px;
    padding: 10px;
    height: 45px;

   
}

.menu ul {
    padding:10px;
    margin-right: 20px;
    display:flex;
    align-items: flex-end;
    justify-content:flex-end;
    color: rgb(155, 7, 7);
}
.menu ul li{
    transition:0.5s;
    margin: 0 10px;
    list-style: none;

}

.menu ul li a {
    font-weight: bold;
    color: rgb(155, 7, 7);
    /* color: beige; */
    text-decoration: none;
}
.menu ul li:hover {
    transition: 0.5s;
    transform: translateY(-.35em);
    cursor: pointer;
     color: black;
}

h1 {
    transition: 0.5s;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(8, 7, 7);
    /* color: rgb(155, 7, 7); */
    /* padding-left:300px ; */
   display:flex;
   align-items: center;
   justify-content:center;
   margin-top: -30px;
   font-size: 3em;
}

span{
    display:grid;
    grid-template-columns:15% 70% 15%;
  
}

 p{
  transition: 0.5s ease-in;
   padding: 10px;
   font-weight:500;
   font-size: 1.4em;
 
   
}
p:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 25px black;
}

.butt {
    padding-top: 50px;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: 1.7em;
}
.butt button {
    font-size: .66em;
    font-weight: bold;
    transition:0.4s;
    background:none;
    border : 2px solid;
    border-radius: 10px;
    color:#000000;
    padding:1em 2em;
    margin:0px 15px;
}
.butt button:hover{
    background-color: #8EC5FC;
    /* background-color: rgb(240, 206, 12); */
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    /* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

      
    /* border-color:none;
    border: none; */
    border-radius: 10px;
    color: black;
    box-shadow:0 0.6em 0.6em -0.2em ;
    transition: 0.25s;
    transform: translateY(-.35em);
    cursor: pointer;
}

.butt a  button {
    text-decoration:none;
    color:black;
}


footer {
   
    font-size: 1.7em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 173px;
}

footer ul {
    display: flex;
    margin-left: -40px;
    margin-top: -10px;
}

footer ul li {
    list-style: none;
    margin: 0px 10px;
}

footer h4 {
    /* background: rgb(77, 77, 80); */
    font-weight: bold;
    font-size: 15px;
    /* color: beige; */
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 20px;
}

footer h5 {
    font-weight: bold;
    font-size: 13px;
    color: black;
    /* color: beige; */
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: -10px;
}
footer ul li a{
    color: black;
}
@media  (max-width:400px)  {
    body{
        background-image: url(po.jfif);
        /* background-color: rgb(39, 126, 197); */
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
      
    }
}


@media (max-width:400px) {
    h1{
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
}
@media (min-width:400px) and (max-width:950px)  {
    body{
        background-image: url(po.jfif);
        /* background-color: rgb(39, 126, 197); */
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
      
    }
}


